<%= form_for [@list, @item] do |f| %>

	<% if @item.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@item.errors.count, "error") %> prohibited this link from being saved:</h2>

			<ul>
				<% @item.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :title %>
  		<%= f.text_field :title, :autofocus => true %>
  	</div>
  	<div class="field">
		<%= f.label :completed %>
  		<%= f.check_box :completed %>
  	</div>
	<div class="field">
		<%= f.label :priority %>
  		<%= f.radio_button(:priority, 3) %> High
		<%= f.radio_button(:priority, 2) %> Medium
		<%= f.radio_button(:priority, 1) %> Low
		
  	</div>
  	<div class="field">
		<%= f.label :due_date %>
  		<%= f.date_select :due_date, :default => 1.days.from_now, :start_year => Time.now.year, :order => [:month, :day, :year], :include_blank => true %>
  	</div>
	
	<div class="field">
		
  		<%= f.hidden_field :list_id, :value => params[:list_id] %>
  	</div>
  	<div class="actions">
  		<%= f.submit %>
  	</div>
<% end %>
